# 编译中间文件
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Platforms/
Plugins/*/Binaries/
Plugins/*/Intermediate/

# VS/IDE 相关
.vs/
.idea/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln.docstates
*.suo
*.tmp
*.log

# 打包输出
Package/
Build/
*.zip
*.rar

# 系统文件
Thumbs.db
.DS_Store

# 日志
*.log